---
title: People
layout: default
---

{% assign sorted_people = (site.newpeople | sort: "dates.start") %}
{% assign sorted_alumni = (site.newpeople | sort: "dates.end" | reverse ) %}
<br>

<div class = "people">
<ul class = "list">
{% for person in sorted_people %}
  {% if person.publish and person.status == 'current'%}
    <li class="item">
      <center>
      {% if person.picture %}
      <img src="/assets/people/{{ person.picture }}" height="240px">
      {% else %}
      <img src="/assets/people/placeholder.png" height="240px" width="190px">
      {% endif %}
      <a href="{{person.url}}"><h3><u> {{ person.name }} </u></h3></a>
      <p><b><i> {{ person.position }} </i></b>	  <br /></p>
    </li>

    {% cycle 'close rows': '', '', '', '</ul><ul class = "list">' %}

  {% endif %}
{% endfor %}
</ul>
</div>

