---
title: People
layout: default
---

{% assign sorted_people = (site.people | sort: 'start-date') %}
{% assign sorted_alumni = (site.people | sort: 'end-date' | reverse ) %}
<br>

<div class = "people">
<ul class = "list">
{% for position in page.positions %}
 {% for person in sorted_people %}
  {% if person.publish and person.status == 'current'%}
    <li class="item">
      <center>
      {% if person.picture %}
      <img src="assets/people/{{ person.picture }}" height="240px">
      {% else %}
      <img src="assets/people/placeholder.png" height="240px" width="190px">
      {% endif %}
      <h3><u> {{ person.name }} </u></h3>
      <p><b><i> {{ person.position }} </i></b>	  <br /></p>
    </li>

    {% cycle 'close rows': '', '', '', '</ul><ul class = "list">' %}

    {% endif %}
  {% endif %}
 {% endfor %}

{% endfor %}
</ul>
</div>

