---
title: News
layout: default
---

<br>

<div class = "news">
<ul class = "list">
{% for post in paginator.posts %}
{% if post.title != nil %}
<li class = "item">
  {% if post.teaser %}
    <img src="../assets/news/{{ post.teaser }}" heigth="158px" width="220px">
  {% else %}
    <img src="../assets/news_graphics/default_teaser.png" heigth="158px" width="220px">
  {% endif %}

  <h2 class="date">{{ post.date | date: "%B %d, %Y" }}</h2>
  <h2 class="title">{{ post.title }}</h2>

<div class="entry-content">
{{ post.excerpt | strip_html | truncate: 160 }}
</div>
</li>
{% cycle 'close rows': nil, nil, nil, '</ul><ul class = "list">' %}

{% endif %}
{% endfor %}

</div>
<br>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <a style="color:black">&laquo; Prev</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a style="color:black"><em>{{ page }}</em></a>
    {% elsif page == 1 %}
      <a href="/news">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: "/" | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <a style="color:black">Next &raquo;</a>
  {% endif %}
  </div>
{% endif %}

<br>
