---
title: News
layout: breanna
---

<br>


<div class = "row blue">
	<center><h4><font color = "#FFCB05">WHAT'S NEW IN <i><b>THE BOYLE LAB</b></i></font></h4></center>
	<center><p class="yellow-dot"></p></center>
	
<br>

<div class = "news">
<ul class = "list">
{% for post in paginator.posts %}
{% if post.title != nil %}
<li class = "item">

  {% if post.external-url %}
    <a class = "three" href="{{ post.external-url }}" title="{{ post.title }}">
    <center>
    {% if post.teaser %}
      <img class="image" src="{{ site.url }}/assets/news_graphics/{{ post.teaser }}" heigth="137px" width="220px">
    {% else %}
      <img class="image" src="{{ site.url }}/assets/news_graphics/default_teaser.png" heigth="137px" width="220px">
    {% endif %}
    </center>
    </a>
    <h2 class="date">{{ post.date | date: "%B %d, %Y" }}</h2>
    <h2 class="title"><a class = "three" href="{{ post.external-url }}">{{ post.title }}</a></h2>
  {% else %}
    <a class = "three" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
    <center>
    {% if post.teaser %}
      <img class="image" src="{{ site.url }}/assets/news_graphics/{{ post.teaser }}" heigth="137px" width="220px">
    {% else %}
      <img class="image" src="{{ site.url }}/assets/news_graphics/default_teaser.png" heigth="137px" width="220px">
    {% endif %}
    </center>
    </a>
    <h2 class="date">{{ post.date | date: "%B %d, %Y" }}</h2>
    <h2 class="title"><a class = "three" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
  {% endif %}

<div class="entry-content">
{{ post.excerpt | strip_html | truncate: 160 }}
</div>
</li>
{% cycle 'close rows': '', '', '', '</ul><ul class = "list">' %}

{% endif %}
{% endfor %}

</ul>
</div>

<br>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
  {% if paginator.previous_page %}
    <a class = "two" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <a class = "two" style="color:#FFCB05">&laquo; Prev</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a class = "two" style="color:#FFCB05"><em>{{ page }}</em></a>
    {% elsif page == 1 %}
      <a class = "two" href="/news">{{ page }}</a>
    {% else %}
      <a class = "two" href="{{ site.paginate_path | prepend: "/" | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class = "two" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <a class = "two" style="color:#FFCB05">Next &raquo;</a>
  {% endif %}
  </div>
{% endif %}

<br>

</div>
