<div id="footer-wrap">
	<div class="container">
		<p class="footer"><font color = "#FFFFFF">
		<i>
The Boyle Lab at the <a href="https://www.umich.edu/" target='_blank'>University of Michigan</a> 
is part of the Departments of <a href="http://www.ccmb.med.umich.edu/" target='_blank'>Computational Medicine & Bioinformatics</a>
and <a href="http://www.hg.med.umich.edu/" target='_blank'>Human Genetics</a>, the 
<a href="http://cmb.medicine.umich.edu/" target='_blank'>Cellular & Molecular Biology Program</a>, the 
<a href="http://www.umichrna.org/" target='_blank'>Center for RNA Biomedicine</a>, the 
<a href="https://medicine.umich.edu/dept/dcmb/education/training-grants/bioinformatics-training-grant" target='_blank'>Bioinformatics Training Program</a>, the 
<a href="https://medicine.umich.edu/dept/human-genetics/genetics-training-program" target='_blank'>Predoctoral Genetics Training Program</a>, and the 
<a href="http://csg.sph.umich.edu/training/" target='_blank'>Genome Science Training Program</a>.
</i>
			<br><br>
			<i>The Boyle Lab</i>&nbsp;&nbsp;|&nbsp;&nbsp;Department of Computational Medicine & Bioinformatics&nbsp;&nbsp;|&nbsp;&nbsp;University of Michigan
	  	<br>
		</font></p>
		<a href="http://sustainability.umich.edu/ocs/labs"><img style="width: 40px; height: 32px;" alt="Sustainable Lab" src="/assets/images/sustainable_lab_icon.png"></a>
	</div><!-- end container -->
</div><!-- end footer-wrap -->


</body>
</html>
