{% assign current = page.url | downcase | split: '/' %}

<!DOCTYPE html>
<html>
<head>
<title>{{page.title}} | The Boyle Lab</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<link rel='stylesheet' type='text/css' href='css/main_style.css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic' rel='stylesheet' type='text/css' />

{% if current[1] == 'publications.html' include pub_buttons.html endif %}

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33218724-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class='short-header-page'>
<div id="header-wrap">
	<div class="container">
		<table id="header">
			<tr>
				<td id="header-right">
					<table>
						<tr>
							<td class="phone-number"><img src="images/U-M_2color-HorizontalReversed.30px.png" height=30></td>
							<td>
								<div style="text-align:left;">
									<span class="wsite-social">
									<a class='wsite-social-item wsite-social-flickr' href='http://scholar.google.com/citations?user=yAqEpxMAAAAJ' target='_blank'></a><a class='wsite-social-item wsite-social-plus' href='ABoyle_CV.pdf' target='_blank' onclick="var that=this;_gaq.push(['_trackEvent','Download','PDF',this.href]);setTimeout(function(){location.href=that.href;},500);return false;"></a><a class='wsite-social-item wsite-social-twitter' href='http://twitter.com/ap_boyle' target='_blank'></a><a class='wsite-social-item wsite-social-linkedin' href='http://www.linkedin.com/profile/view?id=38624939' target='_blank'></a><a class='wsite-social-item wsite-social-mail' href='mailto:apboyle@umich.edu' target='_blank'></a>
									</span>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div><!-- end container -->
</div><!-- end header-wrap -->  		
