<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}The Boyle Lab</title>
  <link rel="icon" href="/assets/boyle_lab.ico" sizes="any">

  <link rel="stylesheet" href="/css/main_style.css">
  <link rel="stylesheet" href="/css/mobile_navigation.css">
  <link rel="stylesheet" href="/css/academicons.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic">

  {% include tracking.html %}
  <script defer src="/assets/js/site-navigation.js"></script>
</head>
