{% assign current = page.url | downcase | split: '/' %}

<body class='short-header-page'>

<div id="nav-wrap">
	<div class="container">
		<table>
			<tr>
				<td rowspan=2><span id="wsite-title"><img src="/assets/images/lab-logo.png" height=50></span></td>
				<td><span id="wsite-university"><img src="/assets/images/U-M_2color-HorizontalReversed.30px.png" height=30></span></td>
			</tr>
			<tr>
				<td id="nav">
					<div id="navigation">
						<ul class='wsite-menu-default'>
							<li {% if current[1] == 'boylelab.org' %}id='active'{% endif %}><a href='/'>Home</a></li>
							<li {% if current[1] == 'research' %}id='active'{% endif %}><a href='/research/'>Research</a></li>
							<li {% if current[1] == 'people' %}id='active'{% endif %}><a href='/people/'>People</a></li>
							<li {% if current[1] == 'software' %}id='active'{% endif %}><a href='/software/'>Software</a></li>
							<li {% if current[1] == 'publications' %}id='active'{% endif %}><a href='/publications/'>Publications</a></li>
							<li {% if current[1] == 'jobs' %}id='active'{% endif %}><a href='/jobs/'>Jobs</a></li>
							<li {% if current[1] == 'news' %}id='active'{% endif %}><a href='/news/'>News</a></li>
							<li {% if current[1] == 'contact' %}id='active'{% endif %}><a href='/contact/'>Contact</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</div><!-- end container -->
</div><!-- end nav-wrap -->
