{% assign current = page.url | downcase | split: '/' %}

<body>

<header id="masthead">
  <div id="nav-wrap">
    <a href="http://boylelab.org/" class="site-title"><img src="/assets/images/lab-logo.png" height=50></a>
    <nav role="navigation">
      <ul class='wsite-menu'>
        <li {% if current[1] == 'boylelab.org' %}id='active'{% endif %}><a href='/'>Home</a></li>
        <li {% if current[1] == 'research' %}id='active'{% endif %}><a href='/research/'>Research</a></li>
        <li {% if current[1] == 'people' %}id='active'{% endif %}><a href='/people/'>People</a></li>
        <li {% if current[1] == 'software' %}id='active'{% endif %}><a href='/software/'>Software</a></li>
        <li {% if current[1] == 'publications' %}id='active'{% endif %}><a href='/publications/'>Publications</a></li>
        <li {% if current[1] == 'jobs' %}id='active'{% endif %}><a href='/jobs/'>Jobs</a></li>
        <li {% if current[1] == 'news' %}id='active'{% endif %}><a href='/news/'>News</a></li>
        <li {% if current[1] == 'contact' %}id='active'{% endif %}><a href='/contact/'>Contact</a></li>
      </ul>
    </nav>
  </div><!-- end nav-wrap -->
</header>
