{% assign current = page.url | downcase | split: '/' %}

<body>

<header id="masthead">
  <div class="nav-wrap">
    <a href="http://boylelab.org/" class="site-title"><img src="/assets/images/lab-logo.png" height=50></a>
    <nav role="navigation">
      <ul class='wsite-menu'>
        <li {% if current[1] == 'boylelab.org' %}id='active'{% endif %}><a href='/'>HOME</a></li>
        <li {% if current[1] == 'research' %}id='active'{% endif %}><a href='/research/'>RESEARCH</a></li>
        <li {% if current[1] == 'people' %}id='active'{% endif %}><a href='/people/'>PEOPLE</a></li>
        <li {% if current[1] == 'software' %}id='active'{% endif %}><a href='/software/'>SOFTWARE</a></li>
        <li {% if current[1] == 'publications' %}id='active'{% endif %}><a href='/publications/'>PUBLICATIONS</a></li>
        <li {% if current[1] == 'jobs' %}id='active'{% endif %}><a href='/jobs/'>JOBS</a></li>
        <li {% if current[1] == 'news' %}id='active'{% endif %}><a href='/news/'>NEWS</a></li>
        <li {% if current[1] == 'contact' %}id='active'{% endif %}><a href='/contact/'>CONTACT</a></li>
      </ul>
    </nav>
  </div><!-- end nav-wrap -->
</header>
