<div class="reference">

	<b>{{ include.ref.authors }}.</b>
	{{ include.ref.year }}.


	{% if include.ref.journal %}
	{{ include.ref.title }}.
	<i>{{ include.ref.journal }}</i>.
	{% else %}
	<b>Preprint:</b> {{ include.ref.title }}.
	{% endif %}

	{% if include.ref.volume %}
	<b>{{ include.ref.volume }}:</b>
	{% endif %}

	{% if include.ref.pages %}
	{{ include.ref.pages }}.
	{% endif %}

	{% if include.ref.doi %}
	DOI: <a href="http://doi.org/{{include.ref.doi}}">{{include.ref.doi}}</a>.
	{% endif %}


	<div class="supp">
		{% if include.ref.pdf %}
		<a href="{{ include.ref.pdf'}}">
			<i class="far fa-file-pdf fa-lg"></i>
		</a>
		{% endif %}
		{% if include.ref.preprint %}
		<a href="{{ include.ref.preprint }}">
			<i class="ai ai-biorxiv ai-lg"></i>
		</a>
		{% endif			%}
		{% if include.ref.github	%}
			<a href="{{ include.ref.github }}">
				<i class="fab fa-github fa-lg" ></i>
			</a>
		{% endif			%}

		{% if include.ref.data		%}
			<a href="{{include.ref.data}}">
				<i class="far fa-table fa-lg" ></i>
			</a>
		{% endif			%}

		{% if include.ref.google_scholar	%}
		<a href="{{include.ref.google_scholar}}">
			<i class="ai ai-google-scholar ai-lg"></i>
		</a>
		{% endif			%}

	</div>
</div>
