{% include header_breanna.html %}

{% include nav_breanna.html %}
	
<div id="main-wrap">
	<div class="container">
		<div class="wsite-content">
<p><img style="float: left; margin: 50px 15px 15px 100px;"  			

{% if page.picture %}
      <img src="/assets/people/{{ page.picture }}" height="400px">
{% else %}
      <img src="/assets/people/placeholder.png" height="400px" width="190px"">
{% endif %}

<div style="text-align: right;background:#FFCB05"></div>
<br><br><br><br><br><br>
<h3 class="title">ABOUT {{ page.name }}</h3>
<p class="memberpage" style="float: right; margin: 10px 0px 10px 20px; width: 350px;">
</div>

<p>
{% if page.dates.ms_start %}
{% if page.dates.ms_start != "" and page.dates.ms_end == "" %}
Master's student since {{ page.dates.ms_start | date: "%B %Y" }}
{% endif %}
{% if page.dates.ms_start != "" and page.dates.ms_end != "" %}
Master's student from {{ page.dates.ms_start | date: "%B %Y" }} to {{ page.dates.ms_end | date: "%B %Y" }}
{% endif %}
<br>
{% endif %}

{% if page.dates.phd_start %}
{% if page.dates.phd_start != "" and page.dates.phd_end == "" %}
PhD student since {{ page.dates.phd_start | date: "%B %Y" }}
{% endif %}
{% if page.dates.phd_start != "" and page.dates.phd_end != "" %}
PhD student from {{ page.dates.phd_start | date: "%B %Y" }} to {{ page.dates.phd_end | date: "%B %Y" }}
{% endif %}
<br>
{% endif %}

{% if page.dates.pd_start %}
{% if page.dates.pd_start != "" and page.dates.pd_end == "" %}
Postdoc since {{ page.dates.pd_start | date: "%B %Y" }}
{% endif %}
{% if page.dates.pd_start != "" and page.dates.pd_end != "" %}
Postdoc from {{ page.dates.pd_start | date: "%B %Y" }} to {{ page.dates.pd_end | date: "%B %Y" }}
{% endif %}
<br>
{% endif %}

{% unless page.dates.ms_start or page.dates.phd_start or page.dates.pd_start %}
  {% if page.status == "current" %}
  {{ page.position }} since {{ page.dates.start | date: "%B %Y" }}
  {% else %}
  {{ page.position }} from {{ page.dates.start | date: "%B %Y" }} to {{ page.dates.end | date: "%B %Y" }}
  {% endif %}
<br>
{% endunless %}

{{ page.title }}

{% if page.current %}
<br>
Current: {{ page.current }}
{% endif %}
</p>
<div class="social">
	{% if page.social.email	%}
		<a href="mailto:{{ page.social.email }}">
		<i class="fas fa-envelope"></i>
		</a>
	{% endif			%}
	{% if page.social.twitter	%}
		<a href="https://twitter.com/{{ page.social.twitter }}">
		<i class="fab fa-twitter"></i>
		</a>
	{% endif			%}
	{% if page.social.github	%}
		<a href="https://github.com/{{ page.social.github }}">
		<i class="fab fa-github"></i>
		</a>
	{% endif			%}
	{% if page.social.google-scholar	%}
		<a href="https://scholar.google.com/citations?user={{page.social.google-scholar}}">
		<i class="ai ai-google-scholar"></i>
		</a>
	{% endif			%}
	{% if page.social.orcid	%}
		<a href="http://orcid.org/{{page.social.orcid}}">
		<i class="ai ai-orcid"></i>
		</a>
	{% endif			%}
	{% if page.social.linked-in	%}
		<a href="https://linkedin.com/in/{{ page.social.linked-in }}">
		<i class="fab fa-linkedin"></i>
		</a>
	{% endif			%}
	{% if page.social.website	%}
		<a href="{{ page.social.website }}">
		<i class="fas fa-globe"></i>
		</a>
	{% endif			%}
	{% if page.CV	%}
		<a href="http://boylelab.org/assets/{{ page.CV }}">
		<i class="ai ai-cv"></i>
		</a>
	{% endif			%}
</div>
				   
<br style="clear: both;" /></p>
			
<p>
<h3 class="title">Research areas</h3>
<ul>
{% for theme in page.theme_areas %}
<!--- Need to create links to these theme pages --->
<li>{{ theme }}</li>
{% endfor %}
</ul>
</p>

<p>
<h3 class="title">Education</h3>
<ul>
{% for degree in page.previous_training %}
<li>{{ degree.type }}: {{ degree.info }}</li>
{% endfor %}
</ul>
</p>

{% assign award_count = page.awards | size %}
{% if award_count > 0 %}
<p>
<h3 class="title">Honors and Awards</h3>
<ul>
{% for award in page.awards %}
<li>{{ award }}</li>
{% endfor %}
</ul>
</p>
{% endif %}


{% assign cleancontent = content | strip_newlines %}
{% if cleancontent != "" %}
<div class="entry-content">
<h3 class="title">Background</h3>
{{ content }}
</div>
{% endif %}

{% assign member = page.umid %}
{% assign member_papers = site.array %}
{% for paper in site.papers reversed %}
  {% if paper.members contains member %}
    {% assign member_papers = member_papers | push: paper %}
  {% endif %}
{% endfor %}


{% assign paper_count = member_papers | size %}
{% if paper_count > 0 %}
  {% assign sorted_papers = member_papers | sort: 'year' %}
  <h3 class="title">Boyle lab papers</h3>
  <div class="papers">
  <ol>
  {% for paper in sorted_papers %}
    {% if paper.layout == "chapter" %}
      <li>{% include reference_chapter.html ref=paper %}</li>
    {% else %}
      <li>{% include reference_paper.html ref=paper %}</li>
    {% endif %}
  {% endfor %}
  </ol>
</div>
{% endif %}

		</div>
	</div><!-- end container -->
</div><!-- end main-wrap -->

{% include footer_breanna.html %}
