{% include header.html %}

{% include nav.html %}
	
<div id="banner-wrap">
	<div class="container">
		<div id="banner">
			<div class="wsite-header"></div>
			<div style="clear:both;"></div>
		</div><!-- end banner -->
	</div><!-- end container -->
</div><!-- end banner-wrap -->
	
<div id="main-wrap">
	<div class="container">
		<div class="wsite-content">

<h3 class="title">{{ page.name }}</h3>
<p style="float: right; margin: 10px 0px 10px 20px; width: 350px;">
{% if page.picture %}
      <img src="/assets/people/{{ page.picture }}" height="240px">
{% else %}
      <img src="/assets/people/placeholder.png" height="240px" width="190px">
{% endif %}

<p>
{% if page.status == "current" %}
{{ page.position }} since {{ page.dates.start | date: "%B %Y" }}
{% else %}
{{ page.position }} from {{ page.dates.start | date: "%B %Y" }} to {{ page.dates.end | date: "%B %Y" }}
{% endif %}
<br>
{{ page.title }}

{% if page.current %}
<br>
Current: {{ page.current }}
{% endif %}
</p>
<div class="social">
	{% if page.social.email	%}
		<a href="mailto:{{ page.social.email }}">
		<i class="fas fa-envelope"></i>
		</a>
	{% endif			%}
	{% if page.social.twitter	%}
		<a href="https://twitter.com/{{ page.social.twitter }}">
		<i class="fab fa-twitter"></i>
		</a>
	{% endif			%}
	{% if page.social.github	%}
		<a href="https://github.com/{{ page.social.github }}">
		<i class="fab fa-github"></i>
		</a>
	{% endif			%}
	{% if page.social.google-scholar	%}
		<a href="https://scholar.google.com/citations?user={{page.social.google-scholar}}">
		<i class="ai ai-google-scholar"></i>
		</a>
	{% endif			%}
	{% if page.social.orcid	%}
		<a href="http://orcid.org/{{page.social.orcid}}">
		<i class="ai ai-orcid"></i>
		</a>
	{% endif			%}
	{% if page.social.linkedin	%}
		<a href="https://linkedin.com/in/{{ page.social.linkedin }}">
		<i class="fab fa-linkedin"></i>
		</a>
	{% endif			%}
	{% if page.social.website	%}
		<a href="{{ page.social.website }}">
		<i class="fas fa-globe"></i>
		</a>
	{% endif			%}
	{% if page.CV	%}
		<a href="http://boylelab.org/assets/{{ page.CV }}">
		<i class="ai ai-cv"></i>
		</a>
	{% endif			%}
</div>

<p>
<h3 class="title">Research areas</h3>
<ul>
{% for theme in page.theme_areas %}
<!--- Need to create links to these theme pages --->
<li>{{ theme }}</li>
{% endfor %}
</ul>
</p>

<p>
<h3 class="title">Education</h3>
<ul>
{% for degree in page.previous_training %}
<li>{{ degree.type }}: {{ degree.info }}</li>
{% endfor %}
</ul>
</p>

{% assign award_count = page.awards | size %}
{% if award_count > 0 %}
<p>
<h3 class="title">Honors and Awards</h3>
<ul>
{% for award in page.awards %}
<li>{{ award }}</li>
{% endfor %}
</ul>
</p>
{% endif %}


{% assign cleancontent = content | strip_newlines %}
{% if cleancontent != "" %}
<div class="entry-content">
<h3 class="title">Background</h3>
{{ content }}
</div>
{% endif %}

{% assign member = page.umid %}
{% assign member_papers = site.array %}
{% for paper in site.papers reversed %}
  {% if paper.members contains member %}
    {% assign member_papers = member_papers | push: paper %}
  {% endif %}
{% endfor %}


{% assign paper_count = member_papers | size %}
{% if paper_count > 0 %}
  {% assign sorted_papers = member_papers | sort: 'year' %}
  <h3 class="title">Boyle lab papers</h3>
  <div class="papers">
  <ol>
  {% for paper in sorted_papers %}
    {% if paper.layout == "chapter" %}
      <li>{% include reference_chapter.html ref=paper %}</li>
    {% else %}
      <li>{% include reference_paper.html ref=paper %}</li>
    {% endif %}
  {% endfor %}
  </ol>
</div>
{% endif %}

		</div>
	</div><!-- end container -->
</div><!-- end main-wrap -->

{% include footer.html %}
