{% include header_breanna.html %}

{% include nav_breanna.html %}
	
<div id="main-wrap">
	<div class="container">
		<div class="wsite-content">

<div class = "row blue_people">
	
<p style="float: rightt; margin: 10px 0px 10px 10px; width: 300px;">
{% if page.picture %}
      <img src="/assets/people/{{ page.picture }}" height="300px">
{% else %}
      <img src="/assets/people/placeholder.png" height="300px" width="238px"">
{% endif %}
</p>

<h3 class="title" align = left margin-left=15px ><font color = "#FFCB05"><i><b>ABOUT</b></i> {{ page.name }}</font></h3>
<p align = "left" margin-left = 15px><font color = white>
{% if page.dates.ms_start %}
{% if page.dates.ms_start != "" and page.dates.ms_end == "" %}
Master's student since {{ page.dates.ms_start | date: "%B %Y" }}
{% endif %}
{% if page.dates.ms_start != "" and page.dates.ms_end != "" %}
Master's student from {{ page.dates.ms_start | date: "%B %Y" }} to {{ page.dates.ms_end | date: "%B %Y" }}
{% endif %}
<br>
{% endif %}

{% if page.dates.phd_start %}
{% if page.dates.phd_start != "" and page.dates.phd_end == "" %}
PhD student since {{ page.dates.phd_start | date: "%B %Y" }}
{% endif %}
{% if page.dates.phd_start != "" and page.dates.phd_end != "" %}
PhD student from {{ page.dates.phd_start | date: "%B %Y" }} to {{ page.dates.phd_end | date: "%B %Y" }}
{% endif %}
<br>
{% endif %}

{% if page.dates.pd_start %}
{% if page.dates.pd_start != "" and page.dates.pd_end == "" %}
Postdoc since {{ page.dates.pd_start | date: "%B %Y" }}
{% endif %}
{% if page.dates.pd_start != "" and page.dates.pd_end != "" %}
Postdoc from {{ page.dates.pd_start | date: "%B %Y" }} to {{ page.dates.pd_end | date: "%B %Y" }}
{% endif %}
<br>
{% endif %}

{% unless page.dates.ms_start or page.dates.phd_start or page.dates.pd_start %}
  {% if page.status == "current" %}
  {{ page.position }} since {{ page.dates.start | date: "%B %Y" }}
  {% else %}
  {{ page.position }} from {{ page.dates.start | date: "%B %Y" }} to {{ page.dates.end | date: "%B %Y" }}
  {% endif %}
<br>
{% endunless %}

{{ page.title }}

{% if page.current %}
<br>
Current: {{ page.current }}
{% endif %}
</font></p>
<div class="social" style="float: left; " >
	{% if page.social.email	%}
		<a class="two" href="mailto:{{ page.social.email }}">
		<i class="fas fa-envelope" style="font-size:20px" ></i>
		</a>
	{% endif			%}
	{% if page.social.twitter	%}
		<a class="two" href="https://twitter.com/{{ page.social.twitter }}">
		<i class="fab fa-twitter" style="font-size:20px" ></i>
		</a>
	{% endif			%}
	{% if page.social.github	%}
		<a class="two" href="https://github.com/{{ page.social.github }}">
		<i class="fab fa-github" style="font-size:20px" ></i>
		</a>
	{% endif			%}
	{% if page.social.google-scholar	%}
		<a class="two" href="https://scholar.google.com/citations?user={{page.social.google-scholar}}">
		<i class="ai ai-google-scholar" style="font-size:20px" ></i>
		</a>
	{% endif			%}
	{% if page.social.orcid	%}
		<a class="two" href="http://orcid.org/{{page.social.orcid}}">
		<i class="ai ai-orcid" style="font-size:20px" ></i>
		</a>
	{% endif			%}
	{% if page.social.linked-in	%}
		<a class="two" href="https://linkedin.com/in/{{ page.social.linked-in }}">
		<i class="fab fa-linkedin" style="font-size:20px" ></i>
		</a>
	{% endif			%}
	{% if page.social.website	%}
		<a class="two" href="{{ page.social.website }}">
		<i class="fas fa-globe" style="font-size:20px" ></i>
		</a>
	{% endif			%}
	{% if page.CV	%}
		<a class="two" href="http://boylelab.org/assets/{{ page.CV }}">
		<i class="ai ai-cv" style="font-size:20px" ></i>
		</a>
	{% endif			%}
</div>
<br>


<h3 class="title" align = left><font color = #FFCB05> Research areas</font></h3>
<p align = left><font color = white>
<ul align = left>
{% for theme in page.theme_areas %}
<!--- Need to create links to these theme pages --->
<li>{{ theme }}</li>
{% endfor %}
</ul>
</font></p>

<p style="float: left; "><font color = white>
<h3 class="title" align = left><font color = #FFCB05>Education</font></h3>
<ul align = left>
{% for degree in page.previous_training %}
<li>{{ degree.type }}: {{ degree.info }}</li>
{% endfor %}
</ul>
</font></p>

<!-- 	<div style="clear:both;"></div> -->
	
{% assign award_count = page.awards | size %}
{% if award_count > 0 %}
<p style="margin-left=200px; "><font color = white>
<h3 class="title" align=left><font color=#FFCB05>Honors and Awards</font></h3>
<ul align=left >
{% for award in page.awards %}
<li>{{ award }}</li>
{% endfor %}
</ul>
</font></p>
	
	</div>
{% endif %}


{% assign cleancontent = content | strip_newlines %}
{% if cleancontent != "" %}
<div class = "row blue_background">
<div class="entry-content-background" align = justify>
<h3 class="title"><font color = #FFCB05>Background</font></h3>
<p><font color = white>
{{ content }}
</font></p>
</div>
</div>
		</div>
{% endif %}

		</div><!-- end container -->
			
{% assign member = page.umid %}
{% assign member_papers = site.array %}
{% for paper in site.papers reversed %}
  {% if paper.members contains member %}
    {% assign member_papers = member_papers | push: paper %}
  {% endif %}
{% endfor %}


{% assign paper_count = member_papers | size %}
{% if paper_count > 0 %}
  {% assign sorted_papers = member_papers | sort: 'year' %}
  <center><h3 class="title"><font color = black>Boyle lab papers</font></h3></center>
  <center><p class="yellow-dot"></p></center>
  <div class="papers">
  <ol>
  {% for paper in sorted_papers %}
    {% if paper.layout == "chapter" %}
      <li>{% include reference_chapter.html ref=paper %}</li>
    {% else %}
      <li>{% include reference_paper.html ref=paper %}</li>
    {% endif %}
  {% endfor %}
  </ol>
</div>
{% endif %}

	
	
</div><!-- end main-wrap -->

{% include footer_breanna.html %}
