{% include header.html %}

{% include nav.html %}
	
<div id="banner-wrap">
	<div class="container">
		<div id="banner">
			<div class="wsite-header"></div>
			<div style="clear:both;"></div>
		</div><!-- end banner -->
	</div><!-- end container -->
</div><!-- end banner-wrap -->
	
<div id="main-wrap">
	<div class="container">
		<div class="wsite-content">

<h3 class="title">{{ page.name }}</h3>
<p style="float: right; margin: 10px 0px 10px 20px; width: 350px;">
{% if page.picture %}
      <img src="/assets/people/{{ page.picture }}" height="240px">
{% else %}
      <img src="/assets/people/placeholder.png" height="240px" width="190px">
{% endif %}

<p>
{% if page.status == "current" %}
{{ page.position }} since {{ page.dates.start }}
{% else %}
{{ page.position }} from {{ page.dates.start }} to {{ page.dates.end }}
{% endif %}
</p>

<p>
<h3 class="title">Research areas</h3>
<ul>
{% for theme in page.theme_areas %}
<!--- Need to create links to these theme pages --->
<li>{{ theme }}</li>
{% endfor %}
</ul>
</p>

<p>
<h3 class="title">Education</h3>
<ul>
{% for step in page.previous_training %}
<li>{{ step[0] }}: {{ step[1] }}</li>
{% endfor %}
</ul>
</p>
	
<div class="entry-content">
<h3 class="title">Background</h3>
{{ content }}
</div>


{% assign member = "boyle" %}
{% assign member_papers = site.array %}
{% for paper in site.papers reversed %}
hi
  {% if paper.members contains member %}
in
    {% assign member_papers = member_papers | push: paper %}
  {% endif %}
{% endfor %}

  <h3 class="title">Boyle lab papers</h3>

{% assign paper_count = member_papers | size %}
{% if paper_count > 0 %}
  {% assign sorted_papers = member_papers | sort: 'year' %}
  <div class="papers">
  <ol>
  {% for paper in sorted_papers %}
    {% if paper.layout == "chapter" %}
      <li>{% include reference_chapter.html ref=paper %}</li>
    {% else %}
      <li>{% include reference_paper.html ref=paper %}</li>
    {% endif %}
  {% endfor %}
  </ol>
</div>
{% endif %}

		</div>
	</div><!-- end container -->
</div><!-- end main-wrap -->

{% include footer.html %}
