{% include header.html %}

{% include nav.html %}
	
<div id="banner-wrap">
	<div class="container">
		<div id="banner">
			<div class="wsite-header"></div>
			<div style="clear:both;"></div>
		</div><!-- end banner -->
	</div><!-- end container -->
</div><!-- end banner-wrap -->
	
<div id="main-wrap">
	<div class="container">
		<div class="wsite-content">

<h3>{{ post.title }}</h3>
<h2 class="date">{{ post.date | date: "%B %d, %Y" }}</h2>
<h2 class="categories">
  {% for cat in post.categories %}
    {{cat}}&nbsp;
  {% endfor %}
</h2>

<div class="entry-content">
{{ post.content }}
</div>


		</div>
	</div><!-- end container -->
</div><!-- end main-wrap -->

{% include footer.html %}
