{% include header.html %}

{% include nav.html %}
	
<!--<div id="banner-wrap">
	<div class="container">
		<div id="banner">
			<div class="wsite-header"></div>
			<div style="clear:both;"></div>
		</div><!-- end banner -->
	</div><!-- end container -->
</div><!-- end banner-wrap -->
	
<div id="main-wrap">
	<div class="container">
		<div class="wsite-content">

<center><h3 class="title">{{ page.title }}</h3></center>
<h2 class="postdate">{{ page.date | date: "%B %d, %Y" }}</h2>
<h2 class="categories">
  {% for cat in page.categories %}
    {{cat}}&nbsp;
  {% endfor %}
</h2>

<div class="entry-content">
  <center>
    {{ content }}

    {% assign external_url = page["external-url"] %}
    {% if external_url and external_url != blank %}
      <p style="margin-top: 20px;">
        <a href="{{ external_url | escape }}" target="_blank" rel="noopener noreferrer">
          Read this paper here.
        </a>
      </p>
    {% endif %}
  </center>
</div>


		</div>
	</div><!-- end container -->
</div><!-- end main-wrap -->

{% include footer.html %}
